*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #313131;
}

main{
    display: flex;
    justify-content: center;
}

section{
    padding: 1rem 0;
    margin: 1rem;
    text-align: center;
    flex-basis: 35%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

h4{
    margin: 1rem 0 2rem;
}
p{
    text-align: left;
    padding:  .3rem 1rem;
}
#grupp1{
    background-color: hsl(271, 100%, 98%);
}
#grupp1 p:nth-child(odd){
    background-color: hsl(271, 66%, 95%);
}
#grupp2{
    background-color: hsl(22, 100%, 98%);
}
#grupp2 p:nth-child(odd){
    background-color: hsl(22, 66%, 95%);
}